## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [1]:
# First install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\poonam\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\poonam\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\poonam\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\poonam\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\poonam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\poonam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\poonam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\poonam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\poonam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\poonam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\poonam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\poonam\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\poonam\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\poonam\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\poonam\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\poonam\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\poonam\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\poonam\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\poonam\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# Now import all required Libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [298]:
# Connect to web driver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [299]:
url = 'https://www.naukri.com/'
driver.get(url)

In [300]:
# Finding web element for search web bar for using id
search_job = driver.find_element(By.CLASS_NAME, "suggestor-input ")
search_job

In [28]:
# Write on search bar
search_job.send_keys("Data Analyst")

In [29]:
# Finding web element for job location bar
search_locn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [30]:
search_locn.send_keys("Banglore")

In [36]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [37]:
search_btn.click()

# Extracting job titles

In [38]:
# Extracts all web elements having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [39]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
job_title = []

for i in title_tags:
    job_title.append(i.text)
len(job_title)

20

In [40]:
job_title

['Data Analyst/Senior Data Analyst',
 'Senior Data Analyst II',
 'Software Technical Expert - Data Analyst',
 'Big data analyst',
 'Data Analyst',
 'Senior Business Analyst, Data Analytics & Engineering-DATA Engineer',
 'Data Analyst 2',
 'Clinical Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Management Analyst',
 'Immediate Opening with Omnicuris For Data Analyst',
 'Immediate Opening with Omnicuris For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst / Modeler',
 'Data Analyst',
 'Opening For Data Analyst For Bangalore',
 'Data Analyst / Data Analytics / Business analyst - US MNC (Analytics)',
 'Data Analyst(Skill set required: advanced SQL & Excel)',
 'Data Management Analyst',
 'Senior Data Analyst']

## Extracting Company Name

In [41]:
# now extract all web elements having company names
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [42]:
# So we will run a for loop to iterate over the tags and will extract
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [44]:
company_names

['Meesho',
 'Flipkart',
 'Schneider Electric',
 'Accolite Software India Pvt Ltd',
 'BYJUS',
 'Artech Infosystems Pvt. Ltd.',
 'PayPal',
 'Navitas LLP',
 'Wells Fargo',
 'Wells Fargo',
 'Omnicuris Healthcare Pvt Ltd',
 'Omnicuris Healthcare Pvt Ltd',
 'manoramaONLINE',
 'RARR Technologies',
 'Happay (VA Tech Ventures)',
 'TARENTO TECHNOLOGIES PRIVATE LIMITED',
 'Aspyra HR Services',
 'Amazon',
 'Wells Fargo',
 'MediaMath']

## EXTRACTING EXPERIENCE

In [55]:
#Now extract all web elements having experience using parent tags
experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tags)

20

In [56]:
experience = []

for i in experience_tags:
    experience.append(i.text)
len(experience)

20

In [57]:
experience

['3-6 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '6-8 Yrs',
 '1-2 Yrs',
 '5-8 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '8-13 Yrs']

## Extracting Location

In [60]:
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [62]:
location = []

for i in locn_tags:
    location.append(i.text)
len(location)

20

In [63]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Serilingampally, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, kerala',
 'Mumbai, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

## Extracting Salary

In [65]:
Salary_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(Salary_tags)

20

In [66]:
Salary = []

for i in Salary_tags:
    Salary.append(i.text)
len(Salary)

20

In [67]:
Salary

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '4,50,000 - 6,50,000 PA.',
 '8,00,000 - 18,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '3,00,000 - 6,00,000 PA.',
 '3,00,000 - 6,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '18,00,000 - 25,00,000 PA.',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [68]:
len(job_title), len(company_names), len(experience), len(location), len(Salary)

(20, 20, 20, 20, 20)

In [71]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_title
jobs['Company'] = company_names
jobs['Experience'] = experience
jobs['Location'] = location
jobs['Salary'] = Salary
jobs

,Job Title,Company,Experience,Location,Salary
0,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
1,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
2,Software Technical Expert - Data Analyst,Schneider Electric,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
3,Big data analyst,Accolite Software India Pvt Ltd,2-6 Yrs,Bangalore/Bengaluru,Not disclosed
4,Data Analyst,BYJUS,2-5 Yrs,Bangalore/Bengaluru,"4,50,000 - 6,50,000 PA."
5,"Senior Business Analyst, Data Analytics & Engi...",Artech Infosystems Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru\n(WFH during Covid),"8,00,000 - 18,00,000 PA."
6,Data Analyst 2,PayPal,1-3 Yrs,Bangalore/Bengaluru,Not disclosed
7,Clinical Data Analyst,Navitas LLP,3-8 Yrs,"Chennai, Bangalore/Bengaluru",Not disclosed
8,Senior Data Management Analyst,Wells Fargo,7-12 Yrs,"Serilingampally, Bangalore/Bengaluru",Not disclosed
9,Senior Data Management Analyst,Wells Fargo,4-9 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Not disclosed
10,Immediate Opening with Omnicuris For Data Analyst,Omnicuris Healthcare Pvt Ltd,2-5 Yrs,Bangalore/Bengaluru,"3,00,000 - 6,00,000 PA."
11,Immediate Opening with Omnicuris For Data Analyst,Omnicuris Healthcare Pvt Ltd,2-5 Yrs,Bangalore/Bengaluru,"3,00,000 - 6,00,000 PA."
12,Senior Data Analyst,manoramaONLINE,5-10 Yrs,"Chennai, Bangalore/Bengaluru, kerala",Not disclosed
13,Data Analyst / Modeler,RARR Technologies,6-8 Yrs,"Mumbai, Pune, Chennai, Bangalore/Bengaluru",Not disclosed
14,Data Analyst,Happay (VA Tech Ventures),1-2 Yrs,Bangalore/Bengaluru,Not disclosed
15,Opening For Data Analyst For Bangalore,TARENTO TECHNOLOGIES PRIVATE LIMITED,5-8 Yrs,Bangalore/Bengaluru,"18,00,000 - 25,00,000 PA."
16,Data Analyst / Data Analytics / Business analy...,Aspyra HR Services,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...","10,00,000 - 20,00,000 PA."
17,Data Analyst(Skill set required: advanced SQL ...,Amazon,2-6 Yrs,Bangalore/Bengaluru\n(WFH during Covid),Not disclosed
18,Data Management Analyst,Wells Fargo,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
19,Senior Data Analyst,MediaMath,8-13 Yrs,Bangalore/Bengaluru,Not disclosed

In [70]:
jobs[0:10]

,Job Title,Company,Experience,Location,Salary
0,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
1,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
2,Software Technical Expert - Data Analyst,Schneider Electric,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
3,Big data analyst,Accolite Software India Pvt Ltd,2-6 Yrs,Bangalore/Bengaluru,Not disclosed
4,Data Analyst,BYJUS,2-5 Yrs,Bangalore/Bengaluru,"4,50,000 - 6,50,000 PA."
5,"Senior Business Analyst, Data Analytics & Engi...",Artech Infosystems Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru\n(WFH during Covid),"8,00,000 - 18,00,000 PA."
6,Data Analyst 2,PayPal,1-3 Yrs,Bangalore/Bengaluru,Not disclosed
7,Clinical Data Analyst,Navitas LLP,3-8 Yrs,"Chennai, Bangalore/Bengaluru",Not disclosed
8,Senior Data Management Analyst,Wells Fargo,7-12 Yrs,"Serilingampally, Bangalore/Bengaluru",Not disclosed
9,Senior Data Management Analyst,Wells Fargo,4-9 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Not disclosed

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [224]:
# Connect to web driver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [225]:
url = 'https://www.naukri.com/'
driver.get(url)

In [226]:
# Finding web element for search web bar for using id
scrap_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
scrap_job

In [227]:
# Write on search bar
scrap_job.send_keys("Data Scientist")

In [228]:
# Finding web element for job location bar
scrap_loca = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
scrap_loca

In [229]:
scrap_loca.send_keys("Bangalore")

In [233]:
search_bttn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
scrap_bttn

In [234]:
scrap_bttn.click()

ElementClickInterceptedException: Message: element click intercepted: Element <div class="qsbSubmit">...</div> is not clickable at point (993, 266). Other element would receive the click: <div class="crossWrapper">...</div>
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00306463+2188387]
	Ordinal0 [0x0029E461+1762401]
	Ordinal0 [0x001B3D78+802168]
	Ordinal0 [0x001E7F9B+1015707]
	Ordinal0 [0x001E5F68+1007464]
	Ordinal0 [0x001E3C6B+998507]
	Ordinal0 [0x001E29D9+993753]
	Ordinal0 [0x001D8613+951827]
	Ordinal0 [0x001FC7DC+1099740]
	Ordinal0 [0x001D7FF4+950260]
	Ordinal0 [0x001FC9F4+1100276]
	Ordinal0 [0x0020CC22+1166370]
	Ordinal0 [0x001FC5F6+1099254]
	Ordinal0 [0x001D6BE0+945120]
	Ordinal0 [0x001D7AD6+948950]
	GetHandleVerifier [0x005A71F2+2712546]
	GetHandleVerifier [0x0059886D+2652765]
	GetHandleVerifier [0x0039002A+520730]
	GetHandleVerifier [0x0038EE06+516086]
	Ordinal0 [0x002A468B+1787531]
	Ordinal0 [0x002A8E88+1805960]
	Ordinal0 [0x002A8F75+1806197]
	Ordinal0 [0x002B1DF1+1842673]
	BaseThreadInitThunk [0x764C6739+25]
	RtlGetFullPathName_UEx [0x77AE8FEF+1215]
	RtlGetFullPathName_UEx [0x77AE8FBD+1165]
	(No symbol) [0x00000000]

## Extracting Job Title

In [167]:
# Extracts all web elements having job titles
job_title = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(job_title)

20

In [168]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
titles_tag = []

for i in job_title:
    titles_tag.append(i.text)
len(titles_tag)

20

In [169]:
titles_tag

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Data Scientist- Assistant Manager/Manager',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3',
 'Data Scientist - IN3',
 'Senior Data Scientist, Personalization',
 'Data Scientist',
 'Senior Data Science Engineer',
 'Senior Data Scientist',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Engineer - ML Ops',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist']

## Extracting Company Name

In [ ]:
# Now extract all web elements having company names
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

# Q3: In this question you have to scrape data using the filters available on the webpage on naukri.com

In [76]:
# Connect to web driver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [77]:
url = 'https://www.naukri.com/'
driver.get(url)

In [81]:
# Finding web element for search web bar for using id
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [82]:
# Write on search bar
search_job.send_keys("Data Scientist")

In [83]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [84]:
search_btn.click()

In [90]:
# using location filter
search_delhi = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[3]")
search_delhi

In [91]:
search_delhi.click()

In [92]:
# using location filter
search_salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]")
search_salary

In [93]:
search_salary.click()

# Extracting job titles

In [100]:
# Extracts all web element having job titles
Job_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(Job_tags)

20

In [112]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Job = []

for i in Job_tags:
    Job.append(i.text)
len(Job)

20

In [113]:
Job

['DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist - Machine learning AI',
 'Data Scientist',
 'Data Scientist - Engine Algorithm',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Predictive Analytics',
 'Data Scientist',
 'Data Scientist - Internet Jobs - II',
 'Data Scientist',
 'Machine Learning Seniors',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Data Scientist',
 'Data Engineer',
 'Dot Net Developer',
 'Data Scientists',
 'Data Scientist (4-8 Years)',
 'Database Management Expert//Ghaziabad']

## Extraction Location

In [110]:
# Extracts job location
job_locn = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(job_locn)

20

In [111]:
Job_Location = []

for i in job_locn:
    Job_Location.append(i.text)
len(Job_Location)

20

In [115]:
Job_Location

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, New Delhi',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Mumbai, New Delhi, Pune',
 'Delhi / NCR, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram',
 'Ghaziabad']

# Extracting Company Name

In [116]:
# Extracts company name 
company_name= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_name)

20

In [117]:
Company = []

for i in company_name:
    Company.append(i.text)
len(Company)

20

In [118]:
Company

['Boston Consulting Group',
 'Black Turtle India Pvt Ltd',
 'EXL',
 'Teq Analytics',
 'SS Supply Chain Solutions Pvt. Ltd. (3SC)',
 'Primo Hiring',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Confidential',
 'Sydata Consulting India Pvt Ltd',
 'Jobs Territory',
 'Kellton Tech Solutions Limited',
 'Walking Tree Consultancy Services pvt Ltd',
 'Shriram Automall India Limited',
 'TeamPlus Staffing Solution Pvt Ltd',
 'T & A Solutions',
 'excellence',
 'Nibha Infotech Private Limited',
 'Nibha Infotech Private Limited',
 'Redian Software Private Limited',
 'ABG Group']

## Extraction Experience

In [119]:
exper_reqd = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exper_reqd)

20

In [120]:
Experience = []

for i in exper_reqd:
    Experience.append(i.text)
len(Experience)

20

In [121]:
Experience

['2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '4-8 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '2-6 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '4-8 Yrs',
 '1-3 Yrs']

In [122]:
len(Job), len(Job_Location), len(Company), len(Experience)

(20, 20, 20, 20)

In [123]:
# Create Data Frame
jobs = pd.DataFrame()
jobs['JOB'] = Job
jobs['LOCATION'] = Job_Location
jobs['COMPANY'] = Company
jobs['EXPERIENCE'] = Experience
jobs

,JOB,LOCATION,COMPANY,EXPERIENCE
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle India Pvt Ltd,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
4,Data Scientist,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",SS Supply Chain Solutions Pvt. Ltd. (3SC),2-5 Yrs
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
8,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,3-8 Yrs
9,Data Scientist - Internet Jobs - II,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Jobs Territory,3-6 Yrs
10,Data Scientist,Gurgaon/Gurugram,Kellton Tech Solutions Limited,3-6 Yrs
11,Machine Learning Seniors,"Hyderabad/Secunderabad, New Delhi",Walking Tree Consultancy Services pvt Ltd,2-5 Yrs
12,Hiring || Data Scientist || North Delhi || 5.5...,Delhi / NCR(Netaji Subhash Place),Shriram Automall India Limited,4-9 Yrs
13,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
14,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
15,Data Engineer,"Mumbai, New Delhi, Pune",excellence,4-9 Yrs
16,Dot Net Developer,"Delhi / NCR, Gurgaon/Gurugram",Nibha Infotech Private Limited,3-8 Yrs
17,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,5-8 Yrs
18,Data Scientist (4-8 Years),"Delhi / NCR, Gurgaon/Gurugram",Redian Software Private Limited,4-8 Yrs
19,Database Management Expert//Ghaziabad,Ghaziabad,ABG Group,1-3 Yrs

In [126]:
jobs[0:10]

,JOB,LOCATION,COMPANY,EXPERIENCE
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle India Pvt Ltd,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
4,Data Scientist,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",SS Supply Chain Solutions Pvt. Ltd. (3SC),2-5 Yrs
5,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
8,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,3-8 Yrs
9,Data Scientist - Internet Jobs - II,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Jobs Territory,3-6 Yrs

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [301]:
# Connect to web driver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [302]:
url = "https://www.flipkart.com/"
driver.get(url)

In [303]:
# Searching for sunglasses
search_sunglasses = driver.find_element(By.CLASS_NAME,"_3704LK")
search_sunglasses

In [304]:
search_sunglasses.send_keys("sunglasses")

In [305]:
# Click on search botton
search_bton = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_bton

In [306]:
search_bton.click()

## Extracting Brand Name

In [307]:
brand_name= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_name)

40

In [308]:
# Now the text of brand is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Brand = []

for i in brand_name:
    Brand.append(i.text)
len(Brand)

40

In [309]:
Brand

['VINCENT CHASE',
 'ROZZETTA CRAFT',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'PIRASO',
 'Fastrack',
 'LIZA ANGEL',
 'Elligator',
 'PIRASO',
 'SUNBEE',
 'ROYAL SON',
 'PIRASO',
 'SRPM',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'DEIXELS',
 'PIRASO',
 'Lee Topper',
 'Fastrack',
 'Arnette',
 'PIRASO',
 'Sewell',
 'CRYSTAL CART',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'New Specs',
 'ROYAL SON',
 'Mi',
 'Fastrack',
 'PIRASO',
 'ROYAL SON']

## Extracting Product Discription

In [317]:
discrip= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(discrip)

40

In [318]:
# Now the discription of sunglasses are inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Discription = []

for i in discrip:
    Discription.append(i.text)
len(Discription)

40

In [319]:
Discription

['by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Others Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (61)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, UV Protection Retro Square Sunglasses (55)']

## Extracting Sunglasses Price

In [320]:
sun_price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(sun_price)

40

In [321]:
Price = []

for i in sun_price:
    Price.append(i.text)
len(Price)

40

In [322]:
Price

['₹799',
 '₹399',
 '₹177',
 '₹639',
 '₹264',
 '₹224',
 '₹719',
 '₹179',
 '₹298',
 '₹359',
 '₹246',
 '₹569',
 '₹224',
 '₹211',
 '₹268',
 '₹399',
 '₹229',
 '₹639',
 '₹185',
 '₹616',
 '₹639',
 '₹499',
 '₹226',
 '₹236',
 '₹306',
 '₹299',
 '₹1,039',
 '₹3,899',
 '₹246',
 '₹265',
 '₹189',
 '₹699',
 '₹319',
 '₹949',
 '₹299',
 '₹759',
 '₹1,009',
 '₹719',
 '₹410',
 '₹616']

In [323]:
discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [324]:
Discount = []

for i in discount:
    Discount.append(i.text)
len(Discount)

40

In [325]:
Discount

['60% off',
 '80% off',
 '82% off',
 '20% off',
 '89% off',
 '85% off',
 '28% off',
 '82% off',
 '88% off',
 '86% off',
 '81% off',
 '71% off',
 '85% off',
 '83% off',
 '79% off',
 '80% off',
 '82% off',
 '20% off',
 '89% off',
 '69% off',
 '28% off',
 '75% off',
 '85% off',
 '80% off',
 '88% off',
 '88% off',
 '20% off',
 '49% off',
 '84% off',
 '82% off',
 '68% off',
 '53% off',
 '78% off',
 '52% off',
 '81% off',
 '62% off',
 '15% off',
 '20% off',
 '84% off',
 '69% off']

## Extracting Data from next page(41-80)

In [ ]:
# For next Page  
next_btn=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [328]:
next_btn.click()

## Extracting Brand Name

In [329]:
brand_name= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_name)

40

In [330]:
# Now the text of brand is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Brand = []

for i in brand_name:
    Brand.append(i.text)
len(Brand)

40

In [331]:
Brand

['Mi',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Elligator',
 'Lee Topper',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'SRPM',
 'ROYAL SON',
 'kingsunglasses',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'kingsunglasses',
 'Arnette',
 'LIZA ANGEL',
 'PIRASO',
 'LIZA ANGEL',
 'ROYAL SON',
 'kingsunglasses',
 'kingsunglasses',
 'New Specs',
 'ROYAL SON',
 'DEIXELS',
 'Silver Kartz',
 'Singco India',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Singco India',
 'CRYSTAL CART',
 'kingsunglasses',
 'Elligator',
 'GANSTA']

## Extracting Product Discription

In [332]:
discrip= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(discrip)

40

In [333]:
# Now the discription of sunglasses are inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Discription = []

for i in discrip:
    Discription.append(i.text)
len(Discription)

40

In [334]:
Discription

['Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (50)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (55)',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'UV Protection Aviator Sunglasses (54)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'Polarized Retro Square Sunglasses (61)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Aviator Sunglasses (62)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Aviator Sunglasses (57)']

# Extracting Price

In [335]:
sun_price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(sun_price)

40

In [336]:
Price = []

for i in sun_price:
    Price.append(i.text)
len(Price)

40

In [337]:
Price

['₹1,009',
 '₹268',
 '₹349',
 '₹399',
 '₹207',
 '₹219',
 '₹246',
 '₹399',
 '₹369',
 '₹719',
 '₹749',
 '₹569',
 '₹207',
 '₹379',
 '₹214',
 '₹616',
 '₹499',
 '₹379',
 '₹269',
 '₹3,899',
 '₹199',
 '₹223',
 '₹179',
 '₹699',
 '₹213',
 '₹329',
 '₹268',
 '₹759',
 '₹236',
 '₹288',
 '₹629',
 '₹649',
 '₹664',
 '₹719',
 '₹399',
 '₹220',
 '₹529',
 '₹265',
 '₹379',
 '₹314']

## Extracting Discount

In [338]:
discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [339]:
Discount = []

for i in discount:
    Discount.append(i.text)
len(Discount)

40

In [340]:
Discount

['15% off',
 '79% off',
 '82% off',
 '80% off',
 '79% off',
 '78% off',
 '84% off',
 '80% off',
 '81% off',
 '20% off',
 '70% off',
 '71% off',
 '79% off',
 '74% off',
 '78% off',
 '69% off',
 '77% off',
 '74% off',
 '85% off',
 '49% off',
 '75% off',
 '86% off',
 '82% off',
 '53% off',
 '82% off',
 '79% off',
 '79% off',
 '62% off',
 '80% off',
 '80% off',
 '80% off',
 '74% off',
 '66% off',
 '20% off',
 '80% off',
 '85% off',
 '74% off',
 '84% off',
 '74% off',
 '84% off']

## Extracting Next Page(above 80)

In [341]:
# For next Page
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn

In [342]:
next_btn.click()

## Extracting Brand Name

In [343]:
brand_name= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_name)

40

In [344]:
# Now the text of brand is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Brand = []

for i in brand_name:
    Brand.append(i.text)
len(Brand)

40

In [345]:
Brand

['Fastrack',
 'Singco India',
 'Elligator',
 'PIRASO',
 'AISLIN',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'kingsunglasses',
 'Rich Club',
 'CRYSTAL CART',
 'SRPM',
 'ROYAL SON',
 'LIZA ANGEL',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'CRYSTAL CART',
 'New Specs',
 'ROYAL SON',
 'Mi',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Fastrack',
 'Roadster',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'VINCENT CHASE',
 'DEIXELS',
 'Mi',
 'Fastrack',
 'Elligator',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT']

## Extracting Discription

In [ ]:
discrip= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]') 
len(discrip)

In [347]:
# Now the discription of sunglasses are inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Discription = []

for i in discrip:
    Discription.append(i.text)
len(Discription)

40

In [348]:
Discription

['Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (64)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Others Round Sunglasses (48)',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection, Riding Glasses, Night Vision Spectacle ...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, Gradient, UV Protection, Mirrored Over-sized...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (58)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Oval Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (62)']

## Extracting Price

In [349]:
sun_price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(sun_price)

40

In [350]:
Price = []

for i in sun_price:
    Price.append(i.text)
len(Price)

40

In [351]:
Price

['₹719',
 '₹567',
 '₹379',
 '₹306',
 '₹470',
 '₹1,099',
 '₹849',
 '₹439',
 '₹269',
 '₹189',
 '₹260',
 '₹329',
 '₹235',
 '₹699',
 '₹169',
 '₹429',
 '₹749',
 '₹719',
 '₹809',
 '₹249',
 '₹189',
 '₹379',
 '₹949',
 '₹399',
 '₹379',
 '₹979',
 '₹649',
 '₹569',
 '₹639',
 '₹233',
 '₹949',
 '₹236',
 '₹849',
 '₹721',
 '₹329',
 '₹616',
 '₹1,169',
 '₹399',
 '₹217',
 '₹649']

## Extracting Discount

In [352]:
discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [353]:
Discount = []

for i in discount:
    Discount.append(i.text)
len(Discount)

40

In [354]:
Discount

['20% off',
 '81% off',
 '74% off',
 '88% off',
 '69% off',
 '45% off',
 '15% off',
 '83% off',
 '82% off',
 '85% off',
 '67% off',
 '78% off',
 '76% off',
 '65% off',
 '66% off',
 '78% off',
 '62% off',
 '20% off',
 '10% off',
 '87% off',
 '88% off',
 '74% off',
 '20% off',
 '80% off',
 '74% off',
 '2% off',
 '35% off',
 '71% off',
 '20% off',
 '76% off',
 '52% off',
 '80% off',
 '15% off',
 '9% off',
 '83% off',
 '69% off',
 '10% off',
 '80% off',
 '78% off',
 '74% off']

In [355]:
len(Brand), len(Discription), len(Price), len(Discount)

(40, 40, 40, 40)

In [356]:
# Create Data Frame
Sunglasses = pd.DataFrame()
Sunglasses['BRAND'] = Brand
Sunglasses['DISCRIPTION'] = Discription
Sunglasses['PRICE'] = Price
Sunglasses['DISCOUNT'] = Discount
Sunglasses

,BRAND,DISCRIPTION,PRICE,DISCOUNT
0,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹567,81% off
2,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹379,74% off
3,PIRASO,UV Protection Rectangular Sunglasses (52),₹306,88% off
4,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹470,69% off
5,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,099",45% off
6,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹849,15% off
7,PIRASO,UV Protection Over-sized Sunglasses (64),₹439,83% off
8,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269,82% off
9,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189,85% off
10,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹260,67% off
11,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹329,78% off
12,SRPM,UV Protection Wayfarer Sunglasses (53),₹235,76% off
13,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹699,65% off
14,LIZA ANGEL,"UV Protection, Riding Glasses, Night Vision Sp...",₹169,66% off
15,CRYSTAL CART,"UV Protection, Gradient Round Sunglasses (Free...",₹429,78% off
16,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
17,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
18,Fastrack,UV Protection Shield Sunglasses (Free Size),₹809,10% off
19,CRYSTAL CART,"Polarized, Gradient, UV Protection, Mirrored O...",₹249,87% off
20,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹189,88% off
21,ROYAL SON,Mirrored Aviator Sunglasses (58),₹379,74% off
22,Mi,Polarized Aviator Sunglasses (Free Size),₹949,20% off
23,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹399,80% off
24,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
25,Fastrack,UV Protection Round Sunglasses (55),₹979,2% off
26,Roadster,UV Protection Oval Sunglasses (58),₹649,35% off
27,ROYAL SON,UV Protection Rectangular Sunglasses (50),₹569,71% off
28,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639,20% off
29,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹233,76% off
30,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off
31,DEIXELS,UV Protection Aviator Sunglasses (Free Size),₹236,80% off
32,Mi,Polarized Wayfarer Sunglasses (Free Size),₹849,15% off
33,Fastrack,UV Protection Wayfarer Sunglasses (55),₹721,9% off
34,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",₹329,83% off
35,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹616,69% off
36,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169",10% off
37,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399,80% off
38,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217,78% off
39,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹649,74% off

In [357]:
Sunglasses[0:100]

,BRAND,DISCRIPTION,PRICE,DISCOUNT
0,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹567,81% off
2,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹379,74% off
3,PIRASO,UV Protection Rectangular Sunglasses (52),₹306,88% off
4,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹470,69% off
5,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,099",45% off
6,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹849,15% off
7,PIRASO,UV Protection Over-sized Sunglasses (64),₹439,83% off
8,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269,82% off
9,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189,85% off
10,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹260,67% off
11,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹329,78% off
12,SRPM,UV Protection Wayfarer Sunglasses (53),₹235,76% off
13,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹699,65% off
14,LIZA ANGEL,"UV Protection, Riding Glasses, Night Vision Sp...",₹169,66% off
15,CRYSTAL CART,"UV Protection, Gradient Round Sunglasses (Free...",₹429,78% off
16,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
17,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
18,Fastrack,UV Protection Shield Sunglasses (Free Size),₹809,10% off
19,CRYSTAL CART,"Polarized, Gradient, UV Protection, Mirrored O...",₹249,87% off
20,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹189,88% off
21,ROYAL SON,Mirrored Aviator Sunglasses (58),₹379,74% off
22,Mi,Polarized Aviator Sunglasses (Free Size),₹949,20% off
23,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹399,80% off
24,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
25,Fastrack,UV Protection Round Sunglasses (55),₹979,2% off
26,Roadster,UV Protection Oval Sunglasses (58),₹649,35% off
27,ROYAL SON,UV Protection Rectangular Sunglasses (50),₹569,71% off
28,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639,20% off
29,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹233,76% off
30,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off
31,DEIXELS,UV Protection Aviator Sunglasses (Free Size),₹236,80% off
32,Mi,Polarized Wayfarer Sunglasses (Free Size),₹849,15% off
33,Fastrack,UV Protection Wayfarer Sunglasses (55),₹721,9% off
34,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",₹329,83% off
35,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹616,69% off
36,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169",10% off
37,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399,80% off
38,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217,78% off
39,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹649,74% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.This task will be done in following steps:1. First get the webpage https://www.flipkart.com/ 2. Enter “iphone 11” in “Search” field . 3. Then click the search button.You will reach to the below shown webpage

In [358]:
# Connect to web driver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [359]:
url = "https://www.flipkart.com/"
driver.get(url)

In [360]:
# Finding web element for search web bar for using id
search_iphone = driver.find_element(By.CLASS_NAME,"_3704LK")
search_iphone

In [361]:
search_iphone.send_keys("iphone11")

In [362]:
# Click on search botton
search_btttn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btttn

In [363]:
search_btttn.click()

In [364]:
# Click on search botton
mob_click = driver.find_element(By.XPATH,"_3UAT2v _16PBlm")
mob_click

In [365]:
mob_click.click()

In [375]:
review_click = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div")
review_click

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00306463+2188387]
	Ordinal0 [0x0029E461+1762401]
	Ordinal0 [0x001B3D78+802168]
	Ordinal0 [0x001E1880+989312]
	Ordinal0 [0x001E1B1B+989979]
	Ordinal0 [0x0020E912+1173778]
	Ordinal0 [0x001FC824+1099812]
	Ordinal0 [0x0020CC22+1166370]
	Ordinal0 [0x001FC5F6+1099254]
	Ordinal0 [0x001D6BE0+945120]
	Ordinal0 [0x001D7AD6+948950]
	GetHandleVerifier [0x005A71F2+2712546]
	GetHandleVerifier [0x0059886D+2652765]
	GetHandleVerifier [0x0039002A+520730]
	GetHandleVerifier [0x0038EE06+516086]
	Ordinal0 [0x002A468B+1787531]
	Ordinal0 [0x002A8E88+1805960]
	Ordinal0 [0x002A8F75+1806197]
	Ordinal0 [0x002B1DF1+1842673]
	BaseThreadInitThunk [0x764C6739+25]
	RtlGetFullPathName_UEx [0x77AE8FEF+1215]
	RtlGetFullPathName_UEx [0x77AE8FBD+1165]
	(No symbol) [0x00000000]

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker: 1. Brand 2. Product Description 3. Price As shown in the below image, you have to scrape the tick marked attributes.

In [376]:
# Connect to web driver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [377]:
url = "https://www.flipkart.com/"
driver.get(url)

In [382]:
# Finding web element for search web bar for using id
search_product = driver.find_element(By.CLASS_NAME,"_3704LK")
search_product

In [383]:
search_product.send_keys("sneaker")

In [384]:
# Click on search botton
search_click = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_click

In [385]:
search_click.click()

## Extracting Brand Name

In [386]:
brand_sneaker= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_sneaker)

40

In [387]:
# Now the text of brand is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Brand = []

for i in brand_sneaker:
    Brand.append(i.text)
len(Brand)

40

In [388]:
Brand

['NANAMI',
 'ZF - ALFIYA',
 'BRUTON',
 'Magnolia',
 'URBANBOX',
 'SFR',
 'PUMA',
 'JK PORT',
 'HOTSTYLE',
 'aadi',
 'BRUTON',
 'PUMA',
 'BIRDE',
 'Labbin',
 'BIRDE',
 'aadi',
 'PUMA',
 'D-SNEAKERZ',
 'CLYMB',
 'Numenzo',
 'Kraasa',
 'ONECENTRE',
 'BIRDE',
 'PUMA',
 'KWIK FIT',
 'BIRDE',
 'Kraasa',
 'Bacan',
 'PUMA',
 'KNIGHT WALKERS',
 'ASTEROID',
 'PUMA',
 'Kraasa',
 'corsac',
 'BRUTON',
 'PUMA',
 'aadi',
 'PUMA',
 'SCATCHITE',
 'BROSS']

## Extracting Product Discription

In [393]:
discription = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(discription)

37

In [394]:
# Now the discription of sneakers are inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Discriptions = []

for i in discription:
    Discriptions.append(i.text)
len(Discriptions)

37

In [395]:
Discriptions

['Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'JK PORT Fashionable and Smart Sneakers For Men Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Ferrari Electron E Pro Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'Smash v2 L Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'STR2 Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'RS-X³ Twill AirMesh Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'SS1100 Sneakers For Men',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Mirage Sport Remix Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Simha Sneakers For Men',
 'Sneakers For Men',
 'Blend Sneakers For Men',
 'Sneakers Sneakers For Men']

## Extracting Sneakers Price

In [396]:
sneaker_price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(sneaker_price)

40

In [398]:
Price = []

for i in sneaker_price:
     Price.append(i.text)
len(Price)

40

In [399]:
Price

['₹549',
 '₹399',
 '₹269',
 '₹399',
 '₹198',
 '₹299',
 '₹1,918',
 '₹539',
 '₹258',
 '₹319',
 '₹299',
 '₹3,834',
 '₹299',
 '₹449',
 '₹249',
 '₹399',
 '₹2,064',
 '₹299',
 '₹519',
 '₹494',
 '₹479',
 '₹299',
 '₹335',
 '₹4,140',
 '₹397',
 '₹299',
 '₹479',
 '₹450',
 '₹2,064',
 '₹664',
 '₹499',
 '₹4,049',
 '₹479',
 '₹474',
 '₹199',
 '₹1,709',
 '₹299',
 '₹1,769',
 '₹360',
 '₹449']

## Extracting Offers

In [400]:
discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [401]:
Discount = []

for i in discount:
    Discount.append(i.text)
len(Discount)

40

In [402]:
Discount

['72% off',
 '60% off',
 '79% off',
 '60% off',
 '80% off',
 '70% off',
 '45% off',
 '46% off',
 '74% off',
 '68% off',
 '76% off',
 '41% off',
 '70% off',
 '55% off',
 '75% off',
 '80% off',
 '41% off',
 '54% off',
 '65% off',
 '61% off',
 '52% off',
 '50% off',
 '66% off',
 '58% off',
 '80% off',
 '70% off',
 '52% off',
 '54% off',
 '41% off',
 '66% off',
 '75% off',
 '55% off',
 '52% off',
 '68% off',
 '66% off',
 '43% off',
 '70% off',
 '41% off',
 '63% off',
 '55% off']

## Extracting Data from next page(41 to 80)

In [403]:
# For next Page  
next_btn=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [404]:
next_btn.click()

## Extracting Brand name

In [406]:
# Now the text of brand is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Brand = []

for i in brand_sneaker:
    Brand.append(i.text)
len(Brand)

40

In [407]:
Brand

['Chevit',
 'Rzisbo',
 'Airland',
 'ZF - ALFIYA',
 'LE GREEM',
 'Shoes Bank',
 'Magnolia',
 'Scull Wings',
 'Kzaara',
 'BRUTON',
 'BRUTON',
 'PUMA',
 'BIRDE',
 'PUMA',
 'ASTEROID',
 'aadi',
 'aadi',
 'PUMA',
 'SPARX',
 'Numenzo',
 'PUMA',
 'Robbie jones',
 'PEXLO',
 'Bacan',
 'Airland',
 'Noztile',
 'WHITE WALKERS',
 'BROSS',
 'PEXLO',
 'AMICO',
 'BRUTON',
 'Ardeo',
 'Roadster',
 'luxury fashion',
 'Dizzler',
 'Ktiz',
 'Layasa',
 'Numenzo',
 'Chevit',
 'NANAMI']

## Extracting Product Discription

In [408]:
discrip= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]') 
len(discrip)

34

In [410]:
# Now the discription of sneakers are inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Discriptions = []

for i in discrip:
    Discriptions.append(i.text)
len(Discriptions)

34

In [411]:
Discriptions

['Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'shoe Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Ferrari Electron E Pro Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Blend Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Puma Smash v2 L Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'ST Activate V2 Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Combo Pack of 3 Casual Shoes, Sneakers For Men',
 'Sneakers For Men',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Fashionable sneaker shoes Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Sneakers For Men']

## Extracting Product Price

In [412]:
sneaker_price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(sneaker_price)

40

In [413]:
Price = []

for i in sneaker_price:
     Price.append(i.text)
len(Price)

40

In [414]:
Price

['₹649',
 '₹464',
 '₹207',
 '₹399',
 '₹424',
 '₹298',
 '₹399',
 '₹599',
 '₹254',
 '₹269',
 '₹269',
 '₹3,834',
 '₹335',
 '₹1,769',
 '₹499',
 '₹399',
 '₹799',
 '₹1,763',
 '₹721',
 '₹494',
 '₹1,644',
 '₹449',
 '₹530',
 '₹450',
 '₹210',
 '₹399',
 '₹599',
 '₹449',
 '₹633',
 '₹494',
 '₹499',
 '₹544',
 '₹1,189',
 '₹474',
 '₹449',
 '₹499',
 '₹499',
 '₹539',
 '₹466',
 '₹549']

## Extracting Offers

In [415]:
discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [416]:
Discount = []

for i in discount:
    Discount.append(i.text)
len(Discount)

40

In [417]:
Discount

['65% off',
 '53% off',
 '58% off',
 '60% off',
 '57% off',
 '70% off',
 '60% off',
 '53% off',
 '74% off',
 '79% off',
 '79% off',
 '41% off',
 '66% off',
 '41% off',
 '50% off',
 '80% off',
 '60% off',
 '49% off',
 '15% off',
 '61% off',
 '53% off',
 '55% off',
 '77% off',
 '54% off',
 '57% off',
 '80% off',
 '50% off',
 '55% off',
 '57% off',
 '50% off',
 '80% off',
 '58% off',
 '63% off',
 '76% off',
 '37% off',
 '50% off',
 '50% off',
 '82% off',
 '57% off',
 '72% off']

## Extracting Data from next page(80 to 120)

## Extracting Brand Name

In [418]:
brand_sneaker= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_sneaker)

40

In [419]:
# Now the text of brand is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Brand = []

for i in brand_sneaker:
    Brand.append(i.text)
len(Brand)

40

In [420]:
Brand

['Chevit',
 'Rzisbo',
 'Airland',
 'ZF - ALFIYA',
 'LE GREEM',
 'Shoes Bank',
 'Magnolia',
 'Scull Wings',
 'Kzaara',
 'BRUTON',
 'BRUTON',
 'PUMA',
 'BIRDE',
 'PUMA',
 'ASTEROID',
 'aadi',
 'aadi',
 'PUMA',
 'SPARX',
 'Numenzo',
 'PUMA',
 'Robbie jones',
 'PEXLO',
 'Bacan',
 'Airland',
 'Noztile',
 'WHITE WALKERS',
 'BROSS',
 'PEXLO',
 'AMICO',
 'BRUTON',
 'Ardeo',
 'Roadster',
 'luxury fashion',
 'Dizzler',
 'Ktiz',
 'Layasa',
 'Numenzo',
 'Chevit',
 'NANAMI']

## Extracting Product Discription

In [421]:
discrip= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]') 
len(discrip)

34

In [422]:
# Now the discription of sneakers are inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Discriptions = []

for i in discrip:
    Discriptions.append(i.text)
len(Discriptions)

34

In [423]:
Discriptions

['Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Sneakers For Men',
 'shoe Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Ferrari Electron E Pro Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Blend Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Puma Smash v2 L Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'ST Activate V2 Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Combo Pack of 3 Casual Shoes, Sneakers For Men',
 'Sneakers For Men',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Fashionable sneaker shoes Sneakers For Men',
 'Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Sneakers For Men']

## Extracting Product Price

In [424]:
sneaker_price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(sneaker_price)

40

In [425]:
Price = []

for i in sneaker_price:
     Price.append(i.text)
len(Price)

40

In [426]:
Price

['₹649',
 '₹464',
 '₹207',
 '₹399',
 '₹424',
 '₹298',
 '₹399',
 '₹599',
 '₹254',
 '₹269',
 '₹269',
 '₹3,834',
 '₹335',
 '₹1,769',
 '₹499',
 '₹399',
 '₹799',
 '₹1,763',
 '₹721',
 '₹494',
 '₹1,644',
 '₹449',
 '₹530',
 '₹450',
 '₹210',
 '₹399',
 '₹599',
 '₹449',
 '₹633',
 '₹494',
 '₹499',
 '₹544',
 '₹1,189',
 '₹474',
 '₹449',
 '₹499',
 '₹499',
 '₹539',
 '₹466',
 '₹549']

# Extracting Product Offer

In [427]:
discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount)

40

In [428]:
Discount = []

for i in discount:
    Discount.append(i.text)
len(Discount)

40

In [429]:
Discount

['65% off',
 '53% off',
 '58% off',
 '60% off',
 '57% off',
 '70% off',
 '60% off',
 '53% off',
 '74% off',
 '79% off',
 '79% off',
 '41% off',
 '66% off',
 '41% off',
 '50% off',
 '80% off',
 '60% off',
 '49% off',
 '15% off',
 '61% off',
 '53% off',
 '55% off',
 '77% off',
 '54% off',
 '57% off',
 '80% off',
 '50% off',
 '55% off',
 '57% off',
 '50% off',
 '80% off',
 '58% off',
 '63% off',
 '76% off',
 '37% off',
 '50% off',
 '50% off',
 '82% off',
 '57% off',
 '72% off']

## Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

In [3]:
# Connect to web driver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url ='https://www.myntra.com/shoes'
driver.get(url)

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00466463+2188387]
	Ordinal0 [0x003FE461+1762401]
	Ordinal0 [0x00313D78+802168]
	Ordinal0 [0x00307210+750096]
	Ordinal0 [0x0030675A+747354]
	Ordinal0 [0x00305D3F+744767]
	Ordinal0 [0x00304C28+740392]
	Ordinal0 [0x00305228+741928]
	Ordinal0 [0x0030EF2F+782127]
	Ordinal0 [0x00319FBB+827323]
	Ordinal0 [0x0031D310+840464]
	Ordinal0 [0x003054F6+742646]
	Ordinal0 [0x00319BF3+826355]
	Ordinal0 [0x0036CF6D+1167213]
	Ordinal0 [0x0035C5F6+1099254]
	Ordinal0 [0x00336BE0+945120]
	Ordinal0 [0x00337AD6+948950]
	GetHandleVerifier [0x007071F2+2712546]
	GetHandleVerifier [0x006F886D+2652765]
	GetHandleVerifier [0x004F002A+520730]
	GetHandleVerifier [0x004EEE06+516086]
	Ordinal0 [0x0040468B+1787531]
	Ordinal0 [0x00408E88+1805960]
	Ordinal0 [0x00408F75+1806197]
	Ordinal0 [0x00411DF1+1842673]
	BaseThreadInitThunk [0x764C6739+25]
	RtlGetFullPathName_UEx [0x77AE8FEF+1215]
	RtlGetFullPathName_UEx [0x77AE8FBD+1165]

In [5]:
# price filter
price_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter

In [6]:
price_filter.click()

In [7]:
# filter black color
color_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color_filter

In [8]:
color_filter.click()

## Extracting Brand Name

In [9]:
#Now extract all brand names using parent tags
brand = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
len(brand)

50

In [10]:
Brand_Name = []

for i in brand:
    Brand_Name.append(i.text)
len(Brand_Name)

50

In [444]:
Brand

['Chevit',
 'Rzisbo',
 'Airland',
 'ZF - ALFIYA',
 'LE GREEM',
 'Shoes Bank',
 'Magnolia',
 'Scull Wings',
 'Kzaara',
 'BRUTON',
 'BRUTON',
 'PUMA',
 'BIRDE',
 'PUMA',
 'ASTEROID',
 'aadi',
 'aadi',
 'PUMA',
 'SPARX',
 'Numenzo',
 'PUMA',
 'Robbie jones',
 'PEXLO',
 'Bacan',
 'Airland',
 'Noztile',
 'WHITE WALKERS',
 'BROSS',
 'PEXLO',
 'AMICO',
 'BRUTON',
 'Ardeo',
 'Roadster',
 'luxury fashion',
 'Dizzler',
 'Ktiz',
 'Layasa',
 'Numenzo',
 'Chevit',
 'NANAMI']

## Extracting Shoes Discription

In [11]:
# Now extract discription using parent tags
description = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len(description)

50

In [12]:
Shoes_Description = []

for i in description:
    Shoes_Description.append(i.text)
len(Shoes_Description)

50

In [452]:
Shoes_Description

['Men React Infinity 3 Running',
 'Men Running Shoes',
 'Men Black Sneakers',
 'Men Walking Shoes',
 'Women Walking Shoes',
 'Flex Essential Running Shoes',
 'Men Woven Design Sneakers',
 'Men Herlz Running Shoes',
 'Men Walking Shoes',
 'Men Walking Shoes',
 'Men Leather Loafers',
 'Men Walking Shoes',
 'Men PU Sneakers',
 'Men Walking Shoes',
 'Men Walking Shoes',
 'Men Walking Shoes',
 'Women Walking Shoes',
 'Men Running Shoes',
 'Men Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Defiant Generation Tennis',
 'Men Metalite Running Shoe',
 'Men Textured Trekking Shoes',
 'Men Solid Formal Slip On Loafers',
 'Men PU Loafers',
 'Men Street Run Running Shoes',
 'Men Walking Shoes',
 'Men PU Sneakers',
 'Women Slides',
 'Women Sneakers',
 'Men Sneakers',
 'Women Walking Shoes',
 'Women Walking Shoes',
 'Men Running Shoes',
 'Men Leather Loafers',
 'Suede Wedge Sandals',
 'Men Loafers',
 'Men Running Shoes',
 'Men Sneakers',
 'Men Running Shoes',
 'Men Running Shoes',
 'Women Stride Walker Shoes',
 'Men Lightweight Flat Boots',
 'Men SRG 3 FK Training Shoes',
 'Men Solid Leather Formal Derby',
 'Walking Shoes',
 'Men Zoom C Pro HC Tennis Shoes',
 'Women Walk Ride Running Shoes',
 'Men Walking Shoes',
 'Men Walking Shoes']

## Extraxting Shoes Price

In [13]:
# Now extract shoes price using parent tags
price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len(price)

50

In [14]:
Shoe_Price = []

for i in price:
    Shoe_Price.append(i.text)
len(Shoe_Price)

50

In [456]:
Shoe_Price

['Rs. 11895Rs. 13995(15% OFF)',
 'Rs. 1649Rs. 5499(70% OFF)',
 'Rs. 2024Rs. 4499(55% OFF)',
 'Rs. 1469Rs. 4899(70% OFF)',
 'Rs. 1829Rs. 6099(70% OFF)',
 'Rs. 2099Rs. 2999(30% OFF)',
 'Rs. 1149Rs. 4499(Rs. 3350 OFF)',
 'Rs. 1999Rs. 3999(50% OFF)',
 'Rs. 1649Rs. 5499(70% OFF)',
 'Rs. 1919Rs. 3199(40% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 1589Rs. 5299(70% OFF)',
 'Rs. 2079Rs. 3199(35% OFF)',
 'Rs. 1949Rs. 6499(70% OFF)',
 'Rs. 1889Rs. 6299(70% OFF)',
 'Rs. 1889Rs. 6299(70% OFF)',
 'Rs. 1529Rs. 5099(70% OFF)',
 'Rs. 1487Rs. 1599(7% OFF)',
 'Rs. 1924Rs. 3499(45% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 2519Rs. 5599(55% OFF)',
 'Rs. 2199Rs. 3999(45% OFF)',
 'Rs. 2099Rs. 6999(70% OFF)',
 'Rs. 1919Rs. 3199(40% OFF)',
 'Rs. 2159Rs. 4799(55% OFF)',
 'Rs. 1529Rs. 5099(70% OFF)',
 'Rs. 2559Rs. 3199(20% OFF)',
 'Rs. 1499',
 'Rs. 1924Rs. 3499(45% OFF)',
 'Rs. 2039Rs. 3399(40% OFF)',
 'Rs. 1259Rs. 4199(70% OFF)',
 'Rs. 1349Rs. 4499(70% OFF)',
 'Rs. 1599Rs. 1699(Rs. 100 OFF)',
 'Rs. 1743Rs. 2490(30% OFF)',
 'Rs. 1733Rs. 3095(44% OFF)',
 'Rs. 2099Rs. 6999(70% OFF)',
 'Rs. 1574Rs. 1699(Rs. 125 OFF)',
 'Rs. 2199Rs. 3999(45% OFF)',
 'Rs. 1214Rs. 1349(10% OFF)',
 'Rs. 2249Rs. 4999(55% OFF)',
 'Rs. 1954Rs. 2299(15% OFF)',
 'Rs. 1319Rs. 5999(78% OFF)',
 'Rs. 8895',
 'Rs. 2099Rs. 6999(70% OFF)',
 'Rs. 1589Rs. 5299(70% OFF)',
 'Rs. 7560Rs. 8895(15% OFF)',
 'Rs. 1304Rs. 2899(55% OFF)',
 'Rs. 1799Rs. 5999(70% OFF)',
 'Rs. 1589Rs. 5299(70% OFF)']

## Going to next page

In [15]:
next_btn = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_btn

In [16]:
next_btn.click()

## Extracting Brand Name From Next Page

In [ ]:
# Now extract all brand names using parent tags
brand=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]') 
len(brand)

In [18]:
Brand_Name = []

for i in brand:
    Brand_Name.append(i.text)
len(Brand_Name)

50

In [20]:
Brand_Name

['Hush Puppies',
 'Geox',
 'fitflop',
 'Geox',
 'fitflop',
 'Geox',
 'Puma',
 'Columbia',
 'UNDER ARMOUR',
 'ASICS',
 'Geox',
 'Geox',
 'Saint G',
 'Puma',
 'KIPRUN By Decathlon',
 'TOMS',
 'Bugatti',
 'Geox',
 'KIPRUN By Decathlon',
 'Puma',
 'TOMS',
 'Cole Haan',
 'ROSSO BRUNELLO',
 'J.FONTINI',
 'ADIDAS Originals',
 'Heel & Buckle London',
 'ROSSO BRUNELLO',
 'Geox',
 'Louis Philippe',
 'J.FONTINI',
 'Bugatti',
 'Columbia',
 'Heel & Buckle London',
 'Clarks',
 'Puma',
 'Hush Puppies',
 'Saint G',
 'Geox',
 'DAVINCHI',
 'Geox',
 'Saint G',
 'fitflop',
 'Geox',
 'Saint G',
 'fitflop',
 'fitflop',
 'fitflop',
 'Geox',
 'Columbia',
 'Clarks']

## Extracting Discription

In [21]:
# Now extract discription using parent tags
description = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len(description)

50

In [24]:
Shoes_Description = []

for i in description:
    Shoes_Description.append(i.text)
len(Shoes_Description)

50

In [25]:
Shoes_Description

['Men Solid Leather Formal Slip-Ons',
 'Women Ballerinas Flats',
 'Flatform Sandals with Buckles',
 'Men Perforations Sneakers',
 'Leather Flatform Sandals',
 'Men Leather Sneakers',
 'Women Magnify Nitro Running',
 'Women Trekking Shoes',
 'Women Charged Breeze Running',
 'Women Running Shoes',
 'Men Leather Sneakers',
 'Leather Block Sandals',
 'Leather Block Sandals',
 'Men M Nitro Running Shoess',
 'Men Running Sports Shoes',
 'Men Alpargata Slip-On Sneakers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Leather Sneakers',
 'Men Running Shoes',
 'Unisex KING Pro 21 Football',
 'Men Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers',
 'Men Leather Fashion',
 'Women Ozelia Sneakers',
 'Men Leather Sneakers',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Textured Leather Sneakers',
 'Men Textured Leather Loafers',
 'Men Solid Loafers',
 'Men Black Formal Derby Shoes',
 'Cascade Peak II Jacket',
 'Men Textured Leather Formal Loafers',
 'Men Woven Design Suede Flat Boots',
 'Women RS-Z Luminous Sneakers',
 'Men Solid Formal Slip-Ons',
 'Men Solid Leather Formal Boots',
 'Textured Leather Block Pumps',
 'Men Textured Formal Leather Loafers',
 'Leather Block Pumps',
 'Leather Block Sandals with Buckles',
 'Embellished Leather Flatform Sandals',
 'Women Leather Sneakers',
 'Leather Block',
 'Embellished Leather Flatform Sandals',
 'Embellished PU Comfort Pumps',
 'Embellished Leather Wedge Sandals',
 'Women Leather Slip-On Sneakers',
 'Women REDMOND V2 TrekkingShoe',
 'Women Solid Leather Sneakers']

## Extracting Shoes Price

In [26]:
# Now extract shoes price using parent tags
price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len(price)

50

In [27]:
Shoe_Price = []

for i in price:
    Shoe_Price.append(i.text)
len(Shoe_Price)

50

In [30]:
Shoe_Price

['Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 7499',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 7999',
 'Rs. 12990',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 13990',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 10233Rs. 11899(14% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 12990',
 'Rs. 8685Rs. 10099(14% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 11999',
 'Rs. 8049Rs. 11499(30% OFF)',
 'Rs. 8490',
 'Rs. 9349Rs. 10999(15% OFF)',
 'Rs. 11192Rs. 13990(20% OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 9990',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 11192Rs. 13990(20% OFF)',
 'Rs. 7899Rs. 9999(21% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 9999',
 'Rs. 9900Rs. 12500(Rs. 2600 OFF)',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 8990',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 8505Rs. 10500(19% OFF)',
 'Rs. 8299',
 'Rs. 12990',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 7499',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7999',
 'Rs. 7224Rs. 8499(15% OFF)']

In [35]:
start=0

end=2

for page in range(start,end):#for loop for scrapping 4 page

    Shoe_price =driver.find_elements(By.CLASS_NAME,'product-price')

    for i in Shoe_price:

        Price.append(i.text)
        
next_btn = driver.find_element(By.XPATH,"//li[@class='pagination-next']")#scraping the list of buttons from the page

try:

        driver.get(next_btn[1].get_attribute('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7119.0_14079.0_7119.0%20TO%2014079.0&p=3'))#getting the link from the list for next page

except:

        driver.get(next_btn[0].get_attribute('https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7119.0_14079.0_7119.0%20TO%2014079.0&p=3'))

NameError: name 'Price' is not defined

## Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [37]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [38]:
#getting url
url ='https://www.amazon.in/'
driver.get(url)

In [39]:
# looking for search bar
search_laptop = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")

#searching for laptop
search_laptop.send_keys("laptop")

In [40]:
#clicking on search icon
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span")
search_btn.click()

In [46]:
#cpu filter
check_cpu = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[14]/span/a")
check_cpu.click()

## Extracting title of Laptop

In [52]:
# Now extract title using parent tags
title_tag = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
len(title_tag)

24

In [53]:
Title = []
for i in title_tag:
        Title.append(i.text)
len(Title)

24

In [54]:
Title

['ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Infinix INBook X1 Pro Core i7 10th Gen - (16 GB/512 GB SSD/Windows 11 Home) XL12 Thin and Light Laptop (14 Inch, Noble Red, 1.48 kg)',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2.8K OLED 16:10 90Hz, Intel Core Evo i7-1260P 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Blue/1.39 kg), UX3402ZA-KM731WS',
 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12650H 12th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Office 2021/Black/2 kg), FX517ZM-HN041WS',
 '(Renewed) Lenovo IdeaPad Slim 3i (82H801CSIN) Intel Core i5-1135G7 15.6 inches FHD Laptop (8GB /256GB SSD /Iris Xe Graphics /Windows 10 Home SL) Arctic Grey, 2.2kg',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 '(Renewed) Dell Intel Core i7 7th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (32GB RAM/512GB SSD/Windows 10 Pro/MS Office/Intel HD Integrated Graphics/ Black/1.18Kg,Black) Latitude E7480',
 '(Renewed) Dell Intel Core i7 7th Gen 14.Inch(35.6 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (32GB RAM /2TB HDD/Windows 10 Pro/MS Office/Intel HD Integrated Graphics/ Black/1.18Kg,Black) Latitude E7480',
 '(Renewed) Dell 7480 Intel Core i7 14-Inch (35.56 cms) Full HD (1920 X 1080) Laptop (16 GB/256 SSD/Windows 10 Pro/Integrated_graphics/Black/2.16 Kg), TFJ45',
 '(Renewed) DELL Inspiron 5593 15.6-inch Laptop (10th Gen Core i7-1065G7/8GB/1TB HDD, 512GB SSD/Windows 10 Home Plus/4GB NVIDIA MX230 GDDR5 Graphics), Platinum Silver',
 '(Renewed) ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Lenovo ThinkBook 13s Intel 10th Gen Core i5 13.3" Laptop (8GB/1TB SSD/Win10/1.26 Kg), 20V9A05GIH',
 'ASUS Vivobook S15 OLED (2022), 15.6" (39.62 cms) FHD OLED, Intel Core Evo i7-12700H 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Grey/1.8 kg), K3502ZA-L701WS',
 '(Renewed) Lenovo Intel 5th Gen Core i7 14 Inch(35.56 cms) 1366 x 768 HD Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office/ Intel HD graphics,Black,2.0kg) Lenovo ThinkPad T450',
 '(Renewed) Dell Latitude e5480 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.8 kg',
 '(Renewed) Dell Latitude e5480 Intel Core i7 6th Gen 14 inches Laptop /8 GB RAM/256 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.8 kg',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 16 GB Ram & 512 GB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Refurbished) Dell Latitude E6440-i7-8 GB-320 GB 14-inch Laptop (4th Gen Core i7/8GB/320GB/Windows 10/Integrated Graphics), Silver',
 '(Renewed) HP 840G1 Elitebook 14 Inch Screen Laptop (4th Gen Intel Core i7 - 4600u /8 GB/500 GB HDD/Widnows 10 Pro), Black-Grey']

## Extracting Price

In [55]:
# Now extract title using parent tags
price_tag = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
len(price_tag)

26

In [56]:
Price = []
for i in price_tag:
        Price.append(i.text)
len(Price)

26

In [57]:
Price

['89,990',
 '76,492',
 '57,890',
 '53,999',
 '75,990',
 '64,592',
 '87,900',
 '1,07,794',
 '94,990',
 '82,990',
 '1,26,990',
 '38,325',
 '39,189',
 '55,895',
 '56,995',
 '40,082',
 '60,990',
 '51,490',
 '88,950',
 '94,990',
 '49,299',
 '38,998',
 '33,890',
 '45,298',
 '33,490',
 '34,690']

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [79]:
# Connect to web driver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [80]:
#getting url
url ='https://www.ambitionbox.com/'
driver.get(url)

In [81]:
# Click on job botton
job_click = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
job_click

In [82]:
job_click.click()

In [83]:
# Finding web element for search web bar for using id
search_job = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_job.send_keys

In [84]:
search_job.send_keys('Data Scientist')

In [85]:
search_btn = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_btn.click()

In [86]:
#clicking on location
locn_btn = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]")
locn_btn.click()

In [87]:
#writing desired location in location search bar
search_locn=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input") 
search_locn.send_keys('Noida')

In [88]:
#clicking on desired location
locn_noida = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
locn_noida.click()

## Extracting JOb Title

In [94]:
# Extracts all web element having job titles
Job_title = driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
len(Job_title)

10

In [99]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
title_job= []

for i in Job_title:
    title_job.append(i.text)
len(title_job)

10

In [100]:
title_job

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Science Trainer | AI | Machine Learning | Python |',
 'Principal Scientist - Machine Learning - IT (15-26 yrs)',
 'Data Scientist - NLP']

## Extracting designation

In [106]:
# Extracts all web element having job designation
Job_designation = driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
len(Job_designation)

10

In [107]:
# Now the text of job designation is inside the web elements extracted above
# so we will run a for loop to iterate over the tags and will extract
Designation= []

for i in Job_designation:
    Designation.append(i.text)
len(Designation)

10

In [108]:
Designation

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Science Trainer | AI | Machine Learning | Python |',
 'Principal Scientist - Machine Learning - IT (15-26 yrs)',
 'Data Scientist - NLP']

## Extracting Company Name

In [109]:
# Extracts all web element having job designation
cmp_tag = driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
len(cmp_tag)

11

In [111]:
Company =[]

for i in cmp_tag:
    Company.append(i.text)
Company

['Optum Global Solutions (India) Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Latent bridge',
 'Careerera',
 'Careernet Consulting',
 'Acidaes Solutions Pvt. Ltd.']

In [112]:
# Extracts all web element having job titles
rating_tag = driver.find_elements(By.XPATH,'//i[@class="icon icon-star"]')
len(rating_tag)

12

In [113]:
Rating =[]

for i in rating_tag:
    Rating.append(i.text)
Rating

['', '', '', '', '', '', '', '', '', '', '', '']

In [114]:
len(Rating), len(Designation), len(Company)

(12, 10, 11)

In [115]:
# Create Data Frame
jobs = pd.DataFrame()
jobs['COMPANY NAME'] = Company
jobs['DESIGNATION'] = Designation
jobs['RATING'] = Rating
jobs

ValueError: Length of values (10) does not match length of index (11)

## Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [116]:
#fetching chromedriver
driver = webdriver.Chrome(r'C:\Users\poonam\Downloads\chromedriver_win32\chromedriver.exe')

In [117]:
#getting url
url ='https://www.ambitionbox.com/'
driver.get(url)

In [118]:
# Click on salary botton
salary_click = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
salary_click

In [119]:
salary_click.click()

In [124]:
# Finding web element for search web bar for using id
search_jobs = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]")
search_jobs.send_keys

In [125]:
search_jobs.send_keys('Data Scientist')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00466463+2188387]
	Ordinal0 [0x003FE461+1762401]
	Ordinal0 [0x00313C40+801856]
	Ordinal0 [0x0033CF63+970595]
	Ordinal0 [0x0033C63E+968254]
	Ordinal0 [0x0035C7DC+1099740]
	Ordinal0 [0x00337FF4+950260]
	Ordinal0 [0x0035C9F4+1100276]
	Ordinal0 [0x0036CC22+1166370]
	Ordinal0 [0x0035C5F6+1099254]
	Ordinal0 [0x00336BE0+945120]
	Ordinal0 [0x00337AD6+948950]
	GetHandleVerifier [0x007071F2+2712546]
	GetHandleVerifier [0x006F886D+2652765]
	GetHandleVerifier [0x004F002A+520730]
	GetHandleVerifier [0x004EEE06+516086]
	Ordinal0 [0x0040468B+1787531]
	Ordinal0 [0x00408E88+1805960]
	Ordinal0 [0x00408F75+1806197]
	Ordinal0 [0x00411DF1+1842673]
	BaseThreadInitThunk [0x764C6739+25]
	RtlGetFullPathName_UEx [0x77AE8FEF+1215]
	RtlGetFullPathName_UEx [0x77AE8FBD+1165]